# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
# Your code here
tp = tuple(range(1,11))
print(tp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
# Your code here
tp = tuple(range(1,11))
print(f"First Element : {tp[0]}")
print(f"Middle Element :{tp[len(tp) // 2]}")
print(f"Last Element : {tp[-1]}")

First Element : 1
Middle Element :6
Last Element : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [4]:
# Your code here
tp = tuple(range(1,11))

print(f"First Three Elements : {tp[:3]}")
print(f"Last Three Elements : {tp[-3:]}")
print(f"Index 2 to 5 Elements : {tp[2:6]}")

First Three Elements : (1, 2, 3)
Last Three Elements : (8, 9, 10)
Index 2 to 5 Elements : (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
# Your code here
matrix = []
for i in range(3):
    row = []
    for j in range(3):
        elem = int(input(f"Enter Element at position [{i}][{j}] :"))
        row.append(elem)
    matrix.append(row)
print("Original Matrix :")
for row in matrix:
    print(tuple(row))

print(f"Element at the second row and third column :{matrix[1][2]}")

Original Matrix :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third column :6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
# Your code here
tp1 = (1,2,3)
tp2 = (4,5,6)
print(tp1 + tp2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [11]:
# Your code here
tpl = (1,2,2,3,4,4,4,5)

print(f"Occurrences : {tpl.count(4)}")
print(f"Index of the first Occurrences : {tpl.index(2)}")

Occurrences : 3
Index of the first Occurrences : 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
# Your code here
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [15]:
# Your code here
lst = list(range(1,6))
tup = tuple(lst)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [18]:
# Your code here
tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
    )
print(f"{tpl}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [6]:
# Your code here
tpl = tuple(range(1,6))
lst = list(tpl)
lst.append(6)
tpl2 = tuple(lst)
print(tpl2)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [7]:
# Your code here
string = "vishal"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

vishal

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [8]:
# Your code here
tpl_dict = {
    (1, 2) : 3,
    (4, 5) : 6,
    (7 ,8) : 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [9]:
# Your code here
nested_tpl = (
    (1, 2, 3,),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elm in tpl:
        print(elm)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [10]:
# Your code here
tpl = (1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 8, 9)
unique_tpl = set(tpl)
print(unique_tpl)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [11]:
# Your code here
def min_in_tuple(tpl):
    return min(tpl)
def max_in_tuple(tpl):
    return max(tpl)
def sum_in_tuple(tpl):
    return sum(tpl)

simple_tpl = (1, 2, 3, 4, 5)
print(f"minimum : {min_in_tuple(simple_tpl)}")
print(f"maximum : {max_in_tuple(simple_tpl)}")
print(f"sum : {sum_in_tuple(simple_tpl)}")

minimum : 1
maximum : 5
sum : 15